-let HTMLoptions = htmlWebpackPlugin.options;

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

block title
	title #{HTMLoptions.filenameRoot.charAt(0).toUpperCase() + HTMLoptions.filenameRoot.slice(1)} page

if HTMLoptions.env["NODE_ENV"] === 'production'
	meta(property="og:image" content=htmlWebpackPlugin.options.route("/img/header-img.png"))
	meta(name="theme-color" content=HTMLoptions.env["COLOR_THEME"])
	meta(name="description" content="Instagram profile public data and to track profile posts' and stories' metadata in order to filter them by hashtags and mentions.")
	meta(name="keywords" content="Hypelitix, instagram, track instagram profile, instagram data, analize")
	link(rel="icon" type="image/svg+xml" sizes="any" href=require('../img/favicon/favicon.svg').default)
	link(rel="icon" type="image/png" sizes="120x120" href=require('../img/favicon/favicon-120x120.png').default)
	link(rel="icon" type="image/png" sizes="24x24" href=require('../img/favicon/favicon-24x24.png').default)
