if htmlWebpackPlugin.options.env["NODE_ENV"] === 'development'
	script(src="http://localhost:35729/livereload.js")

script(src=require('../../../js/vendor/jquery.vendor.min').default)
script(src=require('../../../js/vendor/popper.vendor.min').default)
script(src=require('../../../js/vendor/bootstrap.vendor.min').default)
script(src=require('../../../js/vendor/vue.vendor.min').default)
script(src=require('../../../js/vendor/i18next.vendor.min').default)

each file in htmlWebpackPlugin.files.js
	if htmlWebpackPlugin.options.env["NODE_ENV"] === 'production'
		if file !== 'js/vendor.min.js'
			script(src=file)
	else
		script(src=file)

if htmlWebpackPlugin.options.env["NODE_ENV"] === 'production' && htmlWebpackPlugin.options.modeCompileSplit && htmlWebpackPlugin.options.jsPage
	script( src=htmlWebpackPlugin.options.routeDist.jsPages + '/' + htmlWebpackPlugin.options.filenameRoot + '.js' )