section.demonstration
    .container
        picture
            source(srcset=require('../../img/dots-1.webp').default, type="image/webp")
            img( src=require('../../img/dots-1.png').default alt="" width="212px" height="80px").demonstration__dot.decor-dot.dot-1

        .demonstration__title.section-title
            h2( data-i18n="home-demonstration-title" ) How It works
            span.line

        .demonstration__content

            section.demonstration__section
                .demonstration__section-title
                    span 01.
                    h3( data-i18n="home-demonstration-1-title" ) Add Instagram Accounts

                .demonstration__section-icon
                    picture
                        source(srcset=require('../../img/service-1.webp').default, type="image/webp")
                        img( src=require('../../img/service-1.png').default alt="" width="375px" height="322px")

                .demonstration__section-description
                    p(data-i18n="home-demonstration-1-desc") Upload the list of accounts using the administrative panel or via the corresponding API method.

                    ul.list
                        li(data-i18n="home-demonstration-list-1") Upload by using .xls
                        li(data-i18n="home-demonstration-list-2") Support API method

            .demonstration__spliter.demonstration__spliter_first
                i.icon-arrow-bottom

            section.demonstration__section.demonstration__section_revert
                .demonstration__section-title
                    span 02.
                    h3(data-i18n="home-demonstration-2-title") Track User’s Stories, Posts

                .demonstration__section-icon
                    picture
                        source(srcset=require('../../img/service-2.webp').default, type="image/webp")
                        img( src=require('../../img/service-2.png').default alt="" width="375px" height="322px")

                .demonstration__section-description
                    p(data-i18n="home-demonstration-2-desc") Track profile posts' and stories' metadata in order to filter them by hashtags and mentions.

                    ul.list
                        li(data-i18n="home-demonstration-list-3") Instant notification via Webhocks
                        li(data-i18n="home-demonstration-list-4") Caching data for 14 days

            .demonstration__spliter
                span
                i.icon-arrow-bottom
                span

            section.demonstration__section
                .demonstration__section-title
                    span 03.
                    h3(data-i18n="home-demonstration-3-title") Get your Result!

                .demonstration__section-icon
                    picture
                        source(srcset=require('../../img/service-1.webp').default, type="image/webp")
                        img( src=require('../../img/service-3.png').default alt="" width="375px" height="322px")

                .demonstration__section-description
                    p(data-i18n="home-demonstration-3-desc") Upload the list of accounts using the administrative panel or via the corresponding API method.

                    ul.list
                        li(data-i18n="home-demonstration-list-5") Upload by using .xls
                        li(data-i18n="home-demonstration-list-6") Support API method

                    .btn.btn-primary(data-toggle="modal" data-target="#modal-access" data-i18n="btn-get-access") Get Access
