mixin header(theme)
    header.header( class=theme )
        .container
            .header__wrapper
                .row
                    .col-7.col-md-5.col-lg-3.header__column
                        a(href=htmlWebpackPlugin.options.route('index.html') aria-label="Go to home").logo
                            svg
                                use(xlink:href=require('../img/sprite/sprite.svg').default + '#logo' )

                        .header__lang
                            include ../components/lang


                    .col-5.col-md-2.col-lg-6.header__column
                        .header__menu#header-menu-btn
                            span
                            span
                            span

                        nav.header__nav
                            ul
                                li 
                                    a(href=htmlWebpackPlugin.options.route("/about.html") data-i18n="nav-about" data-i18n-link="links:about") About Us
                                li 
                                    a(href=htmlWebpackPlugin.options.route("/prices.html") data-i18n="nav-prices") Prices
                                li 
                                    a(href=htmlWebpackPlugin.options.route("/contacts.html") data-i18n="nav-contacts") Contact Us
                                li 
                                    a(href="#" data-i18n="nav-login") Log In

                    .col-md-5.col-lg-3.header__column
                        .header__contacts.social-media
                            a(href="#" aria-label="Go to telegram").icon-contact-telegram
                            a(href="#" aria-label="Go to whatsapp").icon-contact-whatsapp
                            a(href="#" aria-label="Go to viber").icon-contact-viber

    .menu
        .menu__wrapper
            .menu__content
                .menu__header
                    .menu__lang
                        include ../components/lang

                    a.menu__login(href="#" data-i18n="nav-login") Log In

                .menu__body
                    ul.list
                        li 
                            a(href=htmlWebpackPlugin.options.route('about.html') data-i18n="nav-about" data-i18n-link="links:about") About Us
                        li
                            a(href=htmlWebpackPlugin.options.route('prices.html') data-i18n="nav-prices" data-i18n-link="links:prices") Prices
                        li
                            a(href=htmlWebpackPlugin.options.route('contacts.html') data-i18n="nav-contacts" data-i18n-link="links:contacts") Contact Us

            .menu__footer
                .menu__email <a href="mailto: contact@hypelitix.com">contact@hypelitix.com</a>
                .social-media
                    a(href="#" aria-label="Go to telegram").icon-contact-telegram
                    a(href="#" aria-label="Go to whatsapp").icon-contact-whatsapp
                    a(href="#" aria-label="Go to viber").icon-contact-viber
